@model IEnumerable<Urms.Model.Course>

@{
    ViewBag.Title = "Index";
}
<div class="right_col" role="main">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" id="myTable">
        <thead>
            <tr>



                <th>
                    @Html.DisplayNameFor(model => model.CourseCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbobgdy>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.CourseCode</td>
                    <td><a href="@Url.Action("Edit",new { id = item.Id })">@item.CourseName</a></td>
                    <td>@item.Description</td>


                    <td>
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detay", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                    </td>
                </tr>

            }
        </tbobgdy>
    </table>
</div>
