@model IEnumerable<Urms.Model.Student>

@{
    ViewBag.Title = "Index";
}
<div class="right_col" role="main">
    <h2>Index</h2>

    <p>
        <a href="@Url.Action("Create")" , class="btn btn-primary btn-xs">Yeni Öğrenci</a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model =>model.Department.DeptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegDate)
            </td>


            <td>@Html.Raw(item.Address)</td>

            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>

            <td>
                <a href="@Url.Action("Edit", new { id = item.Id})" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Düzenle </a>
                <a href="@Url.Action("Delete", new { id = item.Id})" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Sil </a>
                <a href="@Url.Action("Details", new { id = item.Id})" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Detaylar </a>


            </td>
        </tr>
        }

    </table>
    </div>
