@model IEnumerable<Urms.Model.Teacher>

@{
    ViewBag.Title = "Index";
    
}
<div class="right_col" role="main">
    <h2>Index</h2>

    <p>
        <a href="@Url.Action("Create")" , class="btn btn-primary btn-xs">Yeni Hoca</a>
    </p>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Department.DeptName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Designation.DesignationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeacherName)
                </th>
        
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreaditToBeTaken)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RemaingCreadit)
                </th>

                <th></th>
            </tr>
            </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DeptCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation.DesignationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreaditToBeTaken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemaingCreadit)
                </td>

                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id})" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Düzenle </a>
                    <a href="@Url.Action("Delete", new { id = item.Id})" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Sil </a>
                    <a href="@Url.Action("Details", new { id = item.Id})" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Detaylar </a>


                </td>
            </tr>
            }
        </tbody>
    </table>
    </div>